
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
    decimal Toplam = 0;
}


<div id="content" class="site-content">

    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="cont maincont">

                <div class="section-top">

                    <h1 class="maincont-ttl">Siparişlerim</h1>
                    <ul class="b-crumbs">
                        <li><a href="/">Anasayfa</a></li>
                        <li>Siparişlerim</li>
                    </ul>
                    
                </div>

                <!-- To make Sidebar "Not Sticky" just remove  id="section-list-withsb" -->
                <div class="section-wrap-withsb">
                <aside class="blog-sb-widgets section-sb" id="section-sb">
                    <div class="theiaStickySidebar">
                        <div class="section-filter">
                            <div class="section-filter">
                                <div class="blog-sb-widget multishopfeaturedproducts_widget">
                                    <h3 class="widgettitle">Hesabım</h3>
                                    <ul class="menu" style="list-style: none;">
                                        <li><a href="#">Hesabım</a></li>
                                        <li><a href="/Customer/Orders">Siparişlerim</a></li>
                                        <li><a href="#">Taleplerim</a></li>
                                        <li><a href="#">Adreslerim</a></li>
                                        <li><a href="/Customer/Logout">Çıkış</a></li>

                                    </ul>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                </aside>   
                <div class="section-list-withsb" id="section-list-withsb">
                        <div class="theiaStickySidebar">

                            <div class="prod-litems section-list">
                                @foreach (var t in Model)
                                {
                                    <table class="table table-bordered table-responsive" style="background-color: #fffafa">
                                        <tr>
                                            <td>Takip NO: <b> @t.OrderID</b> </td>

                                            <td>Tarihi :  <b> @t.PaymentTime.ToString("dd-MM-yyy") @t.PaymentTime.ToString("HH:ss") </b></td>
                                            <td>Durumu  : <b>@t.OrderStatus</b> </td>

                                            <td>Ödeme Tipi : <b>@t.PaymentType </b></td>

                                            <td> Kargo Takip : <b>@t.CargoNumber </b></td>

                                        </tr>
                                    </table>
                                    <table class="table table-bordered table-responsive" style="background-color: #fffafa">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <td style="text-align:center">Ürün</td>
                                                <td style="text-align:center">Birim Fiyat</td>
                                                <td style="text-align:center">Adet</td>
                                                <td style="text-align:center">Toplam</td>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in ViewBag.OrderData)
                                            {
                                                if (t.OrderID == item.OrderID)
                                                {
                                                    <tr>
                                                        <td style="padding:5px;width:10%;"><img src="~/images/@item.images" style="width:100%;" /></td>
                                                        <td style="vertical-align: middle;text-align:center">@item.Name</td>
                                                        <td style="vertical-align: middle;text-align: center">
                                                            @if (item.DiscountPrice == 0)
                                                            {
                                                                @Html.Raw(item.Price.ToString("N") + " TL");
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw(item.DiscountPrice.ToString("N") + " TL" + "<br><span style='text-decoration:line-through;color:darkred'>" + item.Price.ToString("N") + " TL</span>");
                                                            }
                                                        </td>
                                                        <td style="vertical-align: middle;text-align: center">

                                                            @item.Piece

                                                        </td>
                                                        <td style="vertical-align: middle;text-align: center">
                                                            @if (item.DiscountPrice == 0)
                                                            {
                                                                @Html.Raw((item.Price * item.Piece).ToString("N") + " TL");

                                                                Toplam += item.Price * item.Piece;
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw((item.DiscountPrice * item.Piece).ToString("N") + " TL");

                                                                Toplam += item.DiscountPrice * item.Piece;
                                                            }
                                                        </td>

                                                    </tr>

                                                }

                                            }
                                        </tbody>

                                    </table>
                                    <table class="table table-bordered" style="margin-top:-17.5px;">
                                        <tr>
                                            <td colspan="2" style="border-right:0;width:57%" ;></td>
                                            <td style="text-align:right;border-left:0;">AraToplam</td>
                                            <td style="text-align:right"> @((Toplam - (Toplam * 18 / 100)).ToString("N") + " TL")</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="border-right:0;" ;></td>
                                            <td style="text-align:right;border-left:0">KDV(%@t.KDV )</td>
                                            <td style="text-align:right">@((Toplam * t.KDV / 100).ToString("N") + "TL")</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="border-right: 0;" ;></td>
                                            <td style="text-align:right;border-left:0">Kargo</td>
                                            <td style="text-align:right">@t.CargoPrice.ToString("N") TL</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="border-right: 0;" ;></td>
                                            <td style="text-align:right;border-left:0;">Toplam</td>
                                            <td style="text-align:right">@Toplam.ToString("N") TL</td>
                                        </tr>



                                    </table>


                                }

                            </div>

                            
                        </div><!-- .theiaStickySidebar -->
                    </div><!-- .section-list-withsb -->
                </div><!-- .section-wrap-withsb -->

            </div>
        </main><!-- #main -->
    </div><!-- #primary -->

</div><!-- #content -->
