
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 Baslik "> KATAGORİ YÖNETİMİ </div>
        <div class="col-md-12 text-right " style="padding-right:0;margin-top:5px"> <a href="/admin/Categorys/Insert" class="btn btn-primary" style="margin-bottom:10px;margin-right:0;">Yeni Katagori Ekle</a> </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Katagori Adı</td>
                    <td>Katagori Seo</td>
                    <td>Katagori Sırası</td>
                    <td>Katagori Durumu</td>
                    <td style="text-align:right">İşlem Yap</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryID</td>
                        <td>@item.Name</td>
                        <td>@item.CategorySeo</td>
                        <td>@item.MenuOrder</td>
                        <td>@item.Status</td>
                        <td>

                            <a style="padding:0;vertical-align:middle;text-align:right" href="/admin/Categorys/Update?ID=@item.CategoryID" class=" btn badge-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <a style="padding:0;vertical-align:middle;text-align:right" href="/admin/Categorys/Delete?ID=@item.CategoryID" class=" btn badge-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



